* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: Omori;
    src: url(./font/Omori-fonts/OMORI_GAME2.ttf);
}
@font-face{
    font-family: Omori2;
    src: url(./font/Omori-fonts/OMORI_GAME.ttf);
}


body {
    background-color: #000;
    font-family: Omori;
    background-image: url(./img/background.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    height: 100vh;
    display: grid;
    place-content: center;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 1vw;
    border: solid white 4px;
    box-shadow: 0 0.4vh black;
    top: -1vh;
    position: relative;
    overflow: hidden;
}

.perfil {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #fff7f7;
    margin-right: 10px; 
}

h1 {
    margin: 0; 
}


.card-container{
    align-items: center;
    max-width: 800vw;
    max-height: 80vh; 
    overflow-y: hidden;
    display: flex;
    padding: 30px;
    gap: 15px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
     flex-direction: column;
     border-radius: 5px;
     overflow-x: hidden;
     overflow-y: scroll;
     background-color: black;
     border:solid  white 4px;
     box-shadow: 0 0.4vh black;
}

.card {
    background-color: black;
    padding: 1vw;
    border:solid  white 4px;
    box-shadow: 0 0.4vh black;
    width: 520px;
    height: 15vh;
    border-radius: 4px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: left;
    gap: 20px;
    border: 2px solid #fff;
    position: relative;
}

.card:hover{
    background: linear-gradient( #ffffff42);
}

.card p {
    color: #f6f6f6;
    font-size: 18px;
    margin-top: 15px;
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.card .imagem {
    width: 70px;
    height: 70px; 
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #fff7f7;
}

.imagem img{
    margin-left: 15px;
}

.time {
    position: absolute;
    top: 12px; 
    right: 62px; 
    font-size: 14px; 
    color: rgb(255, 255, 255); 
    font-weight: bold;
}

h3 {
    color: #f6f6f6;
    font-size: 3.5vh;
    position: relative;
    top: 5px;
    margin: 0;
}

.notification {
    width: 1.5vw;
    height: 3.2vh;
    background-color: #f6f6f6;
    color: #232121;
    text-align: center;
    align-items: center;
    line-height: 3vh;
    border-radius: 50%;
    font-size: 1.5vw;
    position: absolute;
    top: 10px;
    left: 45%;
    font-weight: bold;
}


.contact{
    display: flex;
    width: 100px;
    background-color: #808080;
    font-size: 17px;
    position: relative;
    border-radius: 3px;
    gap: 6px;
    padding: 9px 4px;
    height: 25px;
    justify-content: left;
    top: 12px;
    align-items: center;
    font-weight: bold;
}

.iconeAtendente{
    height: 18px;
}

.card .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

.card p {
    position: relative;
    top: 10px;
    margin: 0;
}

.logo {
    height: 50px;
    margin-left: auto; 
    position: relative;
    left: 3vw;
}